@font-face{
	font-family: Narrow;
	src:url(HelveticaNarrow.ttf);
}
body{
    background:url(../images/dust_scratches.png);
}
h1{
    font-family: Narrow, Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    color:#7F99FF;
    font-size:45px;
}
#hero-event{
    width:100%;
    height:350px;
}
#imgpreview{
    margin-top:10px;
    border:1px solid #cccccc;
    box-shadow:0px 0px 2px #888888;
    width:100%;
    height:250px;
    background: #ffffff url(../images/no-image.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:5%;
    background: url(../images/dust-power.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    z-index:2;
    cursor:pointer;
}