{% extends "layout.html" %}
{% block content %}
<body ng-app="denevents" ng-controller="event" ng-init="getUser()" onload="readParams()">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="https://dusthq-denevents.herokuapp.com/"><img src="../images/den_logo.png" class="img-responsive" width=120 alt="Denevents"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> Browse Events</a></li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-large"></span> Organize
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-comment"></span> Help
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Where are my tickets?</a></li>
                            <li><a href="#">How to contact the event organizer?</a></li>
                            <li><a href="#">Help Center</a></li>
                        </ul>
                    </li>
                    <li><a href="login" id="accountheader"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                    <li><a href="createEvent"><span class="glyphicon glyphicon-plus"></span> Create Event</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" ng-init="getEvent()">
        <div class="row" style="background-color:#eeeeee;">
            <div class="col-sm-8">
                <div id="eventimg"></div>
            </div>
            <div class="col-sm-4" id="eventdetails">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8 text-center">
                <a href="#"><h3 class="glyphicon glyphicon-share"></h3></a>&nbsp;&nbsp;<a href="#"><h3 class="glyphicon glyphicon-bookmark"></h3></a>
            </div>
            <div class="col-sm-4 text-center">
                <button type="button" class="btn btn-success btn-lg">Register</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <h4>Description</h4>
                <p id="eventdesc"></p>
            </div>
            <div class="col-sm-4">
                <h4>Date &amp; address</h4>
                <div id="eventadd"></div>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <h2>Share with your friends</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}