{% extends "layout.html" %}
{% block content %}
<body ng-app="denevents" ng-controller="home">
    <nav class="navbar navbar-default navbar-fixed-top" ng-init="getEvents()">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#"><img src="images/den_logo.png" class="img-responsive" width=100 alt="Denevents"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="registaration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="createEvent" style="color:#00ccff;"><span class="glyphicon glyphicon-plus"></span> Create event</a></li>
                </ul>
            </div>
        </div>
    </nav>   
    <div id="hero-event"></div>
    <div class="container">
        <div class="well" style="margin-top:-100px;background:rgba(255,255,255,0.8);">
            <h1 class="text-center">Find your next experience</h1>
            <hr>
            <div class="text-center">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search events or categories" name="search" id="search">
                        <select id="date" name="date" class="form-control">
                            <option value="all" selected="selected">All Dates</option>
                            <option value="today">Today</option>
                            <option value="tomorrow">Tomorrow</option>
                            <option value="this_week">This Week</option>
                            <option value="this_weekend">This Weekend</option>
                            <option value="next_week">Next Week</option>
                            <option value="next_month">Next Month</option>
                        </select>
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}